{% block content %}
   
    <h1 class="title">Welcome!</h1>

    <p>Congratulations! You have successfully installed a new Symfony application.</p>
	
		{{form_start(form)}} 
		{{form_row(form.email)}} 
		{{form_row(form.fullname)}} 
		{{form_end(form)}} 	
	

{% endblock %}
